@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

/* Normalized Style */
* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

/* ---------- HEADER ---------- */
.active {
    border-bottom: 2px solid #b1b1b1 !important;
}

header {
    min-height: 14vh;
    background-color: black;
}

#header-nav {
    background-color: black !important;
    min-height: 14vh;
    z-index: 1;
}

.navbar {
    height: 15vh;
    width: 95vw;
}

.logo-header {
    width: 15rem;
}

.nav-link {
    color: #b1b1b1 !important;
}

#navbarNav {
    /* border-radius: 1rem; */
    justify-content: end;
    align-items: center;
}

.navbar-nav {
    background-color: black;
    font-size: 150%;
    gap: 1.5rem;
    /* border: solid 2px #7a6cfc; */
    border-radius: 1rem;
}

a:hover {
    color: #7a6cfc !important;
    transform: scale(1.05);
    transition: all 0.3s;
}

/* a:active,
a:focus {
    color: lime !important;
} */

/* ---------- MAIN ---------- */
main {
    min-height: 90vh;
    background: url(../images/bguuundulate.svg);
    background-size: cover;
    background-color: #242439;
    color: white;
}

.titleContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 4rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.titleP {
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
    color: #b1b1b1;
    font-size: 200%;
    margin: 0;
}

.cardsContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.subtitleP {
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
    color: #b1b1b1;
    font-size: 200%;
    margin: 0;
    margin-right: 2rem;
}

table {
    background-color: white;
    border-radius: 1rem;
}

.PruebaColor2 {
    color: #7a6cfc;
}

.PruebaColor {
    color: #1cbfff;
}

/* ---------- FOOTER ---------- */

/* ---------- INDEX FORM ---------- */
.form-container {
    padding-top: 2rem;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    /* background-color: #171717; */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    transition: .4s ease-in-out;
}

.form:hover {
    transform: scale(1.05);
    border: 1px solid black;
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form .btna {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #171717;
    color: white;
    text-decoration: none;
}

.button1:hover {
    background-color: black;
    color: #7a6cfc !important;
    transform: scale(1.05);
    transition: all 0.3s;
}

.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #171717;
    color: white;
    text-decoration: none;
}

.button2:hover {
    background-color: black;
    color: white;
}

.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #171717;
    color: white;
}

.button3:hover {
    background-color: black;
    color: red !important;
    transform: scale(1.05);
    transition: all 0.3s;
}

/* ---------- ACCOUNTS CONTAINER ---------- */
/* #cards-anchor:hover {
    color: #737373 !important;
} */
#cards-anchor {
    text-decoration: none;
    color: white;
}

#accounts-card {
    background-color: transparent;
}

#card-logo {
    width: 5rem;
}

.card {
    width: 190px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}

.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.1);
}

.circle {
    width: 50px;
    height: 50px;
    background: radial-gradient(#1cbfff, #7a6cfc);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateY(10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(-10px);
    }
}

/* ---------- CARDS ---------- */
.flip-card {
    background-color: transparent;
    width: 312px;
    height: 200px;
    perspective: 1000px;
}

.cardColorTxt {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.8em;
    top: 1rem;
    left: 1.2rem;
}

.heading_8264 {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.8em;
    top: 13.5em;
    left: 19em;
}

.logoMindhub {
    position: absolute;
    top: 1rem;
    left: 14rem;
}

.logo {
    position: absolute;
    top: 8em;
    left: 15.21em;
}

.chip {
    position: absolute;
    top: 2.5em;
    left: 1em;
}

.contactless {
    position: absolute;
    top: 2.6em;
    left: 4em;
}

.number {
    position: absolute;
    font-weight: bold;
    font-size: 1.2em;
    top: 4.5em;
    left: 1em;
}

.valid_thru {
    position: absolute;
    font-weight: bold;
    top: 10em;
    font-size: 0.7em;
    left: 3em;
}

.date_8264 {
    position: absolute;
    font-weight: bold;
    font-size: 0.6em;
    top: 13em;
    left: 5em;
}

.name {
    position: absolute;
    font-weight: bold;
    font-size: 1.2em;
    top: 8em;
    left: 1em;
}

.strip {
    position: absolute;
    background-color: black;
    width: 19.5em;
    height: 1.5em;
    top: 2.4em;
    background: repeating-linear-gradient(45deg,
            #303030,
            #303030 10px,
            #202020 10px,
            #202020 20px);
}

.mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 12em;
    height: 1.5em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
    color: blue;
}

.sign {
    font-family: 'Dancing Script', cursive;
}

.sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 3em;
    height: 1.5em;
    top: 5em;
    left: 14em;
    border-radius: 2.5px;
}

.logoMindhubBG {
    position: absolute;
    top: 9rem;
    left: 15rem;
}

.code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: url(../images/ffflurry.svg);
    background-size: cover;
}

.flip-card-back {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: url(../images/ffflurry.svg);
    background-size: cover;
    transform: rotateY(180deg);
}

/*dynamic class*/
.DEBIT {
    color: green;
}

.CREDIT {
    color: red;
}

.GOLD {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #ffd700, #cd7f32);
    background-size: cover;
}

.TITANIUM {
    background: linear-gradient(to right, #808080, #4d4d4d);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.SILVER {
    background: linear-gradient(to right, #c0c0c0, #a9a9a9);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}